body {
  margin: 0;
    font-family: ocr-a-std,monospace;
    font-weight: 400;
    font-style: normal;
    padding-right: 60px;
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 60px;
}

.App-header {
    font-family: ocr-a-std,monospace;
    font-weight: 500;
    font-style: normal;
    padding-right: 60px;
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 60px;
}

.dropdown.container {
  float:right;
  padding-right: 30px;
}

.item {
  color: black;
}
.item:hover {
  color:black;
}

/* -- these are misses now */
.misslinks {
  text-align: center;
  padding-top: 400px;
  text-decoration: underline;
}

.signupbutton {
  border: none;
  font-family: ocr-a-std,monospace;
  background-color: white;
}

.signup {
  padding-top: 40px;
}

.loginbutton {
  border: none;
  font-family: ocr-a-std,monospace;
  background-color: white;
}
.login {
  padding-top: 40px;
}

.addmiss {
  border: none;
  font-family: ocr-a-std,monospace;
  background-color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.misses{
  text-align: left;
  padding-top: 250px;
  text-decoration: underline;
}

.misseslist {
  list-style-type: none;
}

.misseslinks {
  color: black;
}
.misseslinks:hover {
color: black;
}