body {
  margin: 0;
    font-family: ocr-a-std,monospace;
    font-weight: 400;
    font-style: normal;
    padding-right: 60px;
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 60px;
    background-color: #a1a5bf;
    font-stretch: expanded;
}

.App-header {
    font-family: ocr-a-std,monospace;
    font-weight: 500;
    font-style: normal;
    padding-right: 60px;
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 60px;
}

.dropdowncontainer {
  float:right;
  padding-right: 80px;
}

.item {
  color: black;
}
.item:hover {
  color:black;
}

/* -- these are misses now */
.misslinks {
  text-align: center;
  padding-top: 100px;
  text-decoration: underline;

}

.signupbutton {
  border: none;
  font-family: ocr-a-std,monospace;
  background-color: white;
}

.signup {
  padding-top: 40px;
}

.loginbutton {
  border: none;
  font-family: ocr-a-std,monospace;
  background-color: white;
}
.login {
  padding-top: 40px;
}

.addmiss {
  border: none;
  font-family: ocr-a-std,monospace;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #a1a5bf;
}

.misses{
  text-align: left;
  padding-top: 60px;
  text-decoration: underline;
  margin-bottom: 100px;
}

.misseslist {
  list-style-type: none;
}

.misseslinks {
  color: black;
}
.misseslinks:hover {
color: black;
}
.singlemiss {
  text-align: center;
  padding-top: 100px;
}

.createmiss {
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.cmiss{
  padding-top: 100px;
  padding-left: 250px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.createmissbutton{
  border: none;
  font-family: ocr-a-std,monospace;
  padding-top: 10px;
  background-color: rgb(120, 152, 211);
}
.createmissbutton:hover{
  color: black;
}
.deletebutton {
  color: black;
}
.deletebutton:hover{
color:black;
}

.pointhome {
color: black;
position: fixed;
top: 10px;
left: 20px;
}

.pointhome:hover{
  color: black;
}

.container{
  margin-top: 40px;
  margin-bottom: 40px;
}